<a href="https://colab.research.google.com/github/gteless/Aulas_FIAP/blob/main/Fase%203/Aulas/Framework_big_data/consultas_operacoes_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Configurações da biblioteca

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

### Criando a sessão do SparkContext e SparkSession

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [ ]:
sc = SparkContext.getOrCreate()

In [ ]:
spark = SparkSession.builder.appName('PySpark DataFrame From RDD').getOrCreate()

# Create PySpark Dataframe from an Existint RDD

In [ ]:
rdd = sc.parallelize([('C', 85, 76, 87, 91), ('B', 85, 76, 87, 91), ("A", 85, 78, 96, 92), ("A", 92, 76, 89, 96)], 4)

In [ ]:
print(type(rdd))

<class 'pyspark.rdd.RDD'>

In [ ]:
sub = ['id_person', 'value_1', 'value_2', 'value_3', 'value_4']

In [ ]:
marks_df = spark.createDataFrame(rdd, schema=sub)

In [ ]:
print(type(marks_df))

<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
marks_df.show()

+---------+-------+-------+-------+-------+
|id_person|value_1|value_2|value_3|value_4|
+---------+-------+-------+-------+-------+
|        C|     85|     76|     87|     91|
|        B|     85|     76|     87|     91|
|        A|     85|     78|     96|     92|
|        A|     92|     76|     89|     96|
+---------+-------+-------+-------+-------+

In [ ]:
marks_df.printSchema()

root
 |-- id_person: string (nullable = true)
 |-- value_1: long (nullable = true)
 |-- value_2: long (nullable = true)
 |-- value_3: long (nullable = true)
 |-- value_4: long (nullable = true)

### Operações básicas com PySpark

In [ ]:
# Caso não tenha instanciado antes, instanciar o pyspark
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("pysparkdf").getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

# Importing Data

In [ ]:
df = spark.read.csv('cereal.csv', sep=',', inferSchema = True, header = True)

In [ ]:
df.show()

+--------------------+--------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|         Cereal Name|  Manufacturer|Type|Calories|Protein (g)|Fat|Sodium|Dietary Fiber|Carbs|Sugars|Display Shelf|Potassium|Vitamins and Minerals|Serving Size Weight|Cups per Serving|
+--------------------+--------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|           100%_Bran|       Nabisco|   C|      70|          4|  1|   130|         10.0|  5.0|     6|            3|      280|                   25|                1.0|            0.33|
|   100%_Natural_Bran|   Quaker Oats|   C|     120|          3|  5|    15|          2.0|  8.0|     8|            3|      135|                    0|                1.0|            -1.0|
|            All-Bran|      Kelloggs|   C|      70|          4|  1|   260|          9.0|  7.0|     5|            3|      320|                   25|                1.0|            0.33|
|All-Bran_with_Ext...|      Kelloggs|   C|      50|          4|  0|   140|         14.0|  8.0|     0|            3|      330|                   25|                1.0|             0.5|
|      Almond_Delight|Ralston Purina|   C|     110|          2|  2|   200|          1.0| 14.0|     8|            3|       -1|                   25|                1.0|            0.75|
|Apple_Cinnamon_Ch...| General Mills|   C|     110|          2|  2|   180|          1.5| 10.5|    10|            1|       70|                   25|                1.0|            0.75|
|         Apple_Jacks|      Kelloggs|   C|     110|          2|  0|   125|          1.0| 11.0|    14|            2|       30|                   25|                1.0|             1.0|
|             Basic_4| General Mills|   C|     130|          3|  2|   210|          2.0| 18.0|     8|            3|      100|                   25|               1.33|            0.75|
|           Bran_Chex|Ralston Purina|   C|      90|          2|  1|   200|          4.0| 15.0|     6|            1|      125|                   25|                1.0|            0.67|
|         Bran_Flakes|          Post|   C|      90|          3|  0|   210|          5.0| 13.0|     5|            3|      190|                   25|                1.0|            0.67|
|        Cap'n'Crunch|   Quaker Oats|   C|     120|          1|  2|   220|          0.0| 12.0|    12|            2|       35|                   25|                1.0|            0.75|
|            Cheerios| General Mills|   C|     110|          6|  2|   290|          2.0| 17.0|     1|            1|      105|                   25|                1.0|            1.25|
|Cinnamon_Toast_Cr...| General Mills|   C|     120|          1|  3|   210|          0.0| 13.0|     9|            2|       45|                   25|                1.0|            0.75|
|            Clusters| General Mills|   C|     110|          3|  2|   140|          2.0| 13.0|     7|            3|      105|                   25|                1.0|             0.5|
|         Cocoa_Puffs| General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       55|                   25|                1.0|             1.0|
|           Corn_Chex|Ralston Purina|   C|     110|          2|  0|   280|          0.0| 22.0|     3|            1|       25|                   25|                1.0|             1.0|
|         Corn_Flakes|      Kelloggs|   C|     100|          2|  0|   290|          1.0| 21.0|     2|            1|       35|                   25|                1.0|             1.0|
|           Corn_Pops|      Kelloggs|   C|     110|          1|  0|    90|          1.0| 13.0|    12|            2|       20|                   25|                1.0|             1.0|
|       Count_Chocula| General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       65|                   25|                1.0|             1.0|
|  Cracklin'_Oat_Bran|      Kelloggs|   C|     110|          3|  3|   140|          4.0| 10.0|     7|            3|      160|                   25|                1.0|             0.5|
+--------------------+--------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Cereal Name: string (nullable = true)
 |-- Manufacturer: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Calories: integer (nullable = true)
 |-- Protein (g): integer (nullable = true)
 |-- Fat: integer (nullable = true)
 |-- Sodium: integer (nullable = true)
 |-- Dietary Fiber: double (nullable = true)
 |-- Carbs: double (nullable = true)
 |-- Sugars: integer (nullable = true)
 |-- Display Shelf: integer (nullable = true)
 |-- Potassium: integer (nullable = true)
 |-- Vitamins and Minerals: integer (nullable = true)
 |-- Serving Size Weight: double (nullable = true)
 |-- Cups per Serving: double (nullable = true)

# Select()

In [ ]:
df.select('Cereal Name', 'Manufacturer', 'Calories').show()

+--------------------+--------------+--------+
|         Cereal Name|  Manufacturer|Calories|
+--------------------+--------------+--------+
|           100%_Bran|       Nabisco|      70|
|   100%_Natural_Bran|   Quaker Oats|     120|
|            All-Bran|      Kelloggs|      70|
|All-Bran_with_Ext...|      Kelloggs|      50|
|      Almond_Delight|Ralston Purina|     110|
|Apple_Cinnamon_Ch...| General Mills|     110|
|         Apple_Jacks|      Kelloggs|     110|
|             Basic_4| General Mills|     130|
|           Bran_Chex|Ralston Purina|      90|
|         Bran_Flakes|          Post|      90|
|        Cap'n'Crunch|   Quaker Oats|     120|
|            Cheerios| General Mills|     110|
|Cinnamon_Toast_Cr...| General Mills|     120|
|            Clusters| General Mills|     110|
|         Cocoa_Puffs| General Mills|     110|
|           Corn_Chex|Ralston Purina|     110|
|         Corn_Flakes|      Kelloggs|     100|
|           Corn_Pops|      Kelloggs|     110|
|       Count_Chocula| General Mills|     110|
|  Cracklin'_Oat_Bran|      Kelloggs|     110|
+--------------------+--------------+--------+
only showing top 20 rows

#withColumn()

In [ ]:
df.withColumn('calories', df['Calories'].cast("Integer")).printSchema()

root
 |-- Cereal Name: string (nullable = true)
 |-- Manufacturer: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- Protein (g): integer (nullable = true)
 |-- Fat: integer (nullable = true)
 |-- Sodium: integer (nullable = true)
 |-- Dietary Fiber: double (nullable = true)
 |-- Carbs: double (nullable = true)
 |-- Sugars: integer (nullable = true)
 |-- Display Shelf: integer (nullable = true)
 |-- Potassium: integer (nullable = true)
 |-- Vitamins and Minerals: integer (nullable = true)
 |-- Serving Size Weight: double (nullable = true)
 |-- Cups per Serving: double (nullable = true)

#groupBy()

In [ ]:
df.groupBy('calories').count().show()

+--------+-----+
|calories|count|
+--------+-----+
|     140|    3|
|     120|    9|
|     100|   17|
|     130|    2|
|      50|    3|
|      80|    1|
|     160|    1|
|      70|    2|
|      90|    7|
|     110|   29|
+--------+-----+

#orderBy()

In [ ]:
df.orderBy('Protein (g)').show()

+--------------------+--------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|         Cereal Name|  Manufacturer|Type|Calories|Protein (g)|Fat|Sodium|Dietary Fiber|Carbs|Sugars|Display Shelf|Potassium|Vitamins and Minerals|Serving Size Weight|Cups per Serving|
+--------------------+--------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|        Cap'n'Crunch|   Quaker Oats|   C|     120|          1|  2|   220|          0.0| 12.0|    12|            2|       35|                   25|                1.0|            0.75|
|Cinnamon_Toast_Cr...| General Mills|   C|     120|          1|  3|   210|          0.0| 13.0|     9|            2|       45|                   25|                1.0|            0.75|
|         Cocoa_Puffs| General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       55|                   25|                1.0|             1.0|
|           Corn_Pops|      Kelloggs|   C|     110|          1|  0|    90|          1.0| 13.0|    12|            2|       20|                   25|                1.0|             1.0|
|       Count_Chocula| General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       65|                   25|                1.0|             1.0|
|      Frosted_Flakes|      Kelloggs|   C|     110|          1|  0|   200|          1.0| 14.0|    11|            1|       25|                   25|                1.0|            0.75|
|      Fruity_Pebbles|          Post|   C|     110|          1|  1|   135|          0.0| 13.0|    12|            2|       25|                   25|                1.0|            0.75|
|      Golden_Grahams| General Mills|   C|     110|          1|  1|   280|          0.0| 15.0|     9|            2|       45|                   25|                1.0|            0.75|
|    Honey_Graham_Ohs|   Quaker Oats|   C|     120|          1|  2|   220|          1.0| 12.0|    11|            2|       45|                   25|                1.0|             1.0|
|          Honey-comb|          Post|   C|     110|          1|  0|   180|          0.0| 14.0|    11|            1|       35|                   25|                1.0|            1.33|
|         Puffed_Rice|   Quaker Oats|   C|      50|          1|  0|     0|          0.0| 13.0|     0|            3|       15|                    0|                0.5|             1.0|
|           Rice_Chex|Ralston Purina|   C|     110|          1|  0|   240|          0.0| 23.0|     2|            1|       30|                   25|                1.0|            1.13|
|                Trix| General Mills|   C|     110|          1|  1|   140|          0.0| 13.0|    12|            2|       25|                   25|                1.0|             1.0|
|         Froot_Loops|      Kelloggs|   C|     110|          2|  1|   125|          1.0| 11.0|    13|            2|       30|                   25|                1.0|             1.0|
|                 Kix| General Mills|   C|     110|          2|  1|   260|          0.0| 21.0|     3|            2|       40|                   25|                1.0|             1.5|
|Apple_Cinnamon_Ch...| General Mills|   C|     110|          2|  2|   180|          1.5| 10.5|    10|            1|       70|                   25|                1.0|            0.75|
|           Corn_Chex|Ralston Purina|   C|     110|          2|  0|   280|          0.0| 22.0|     3|            1|       25|                   25|                1.0|             1.0|
|         Apple_Jacks|      Kelloggs|   C|     110|          2|  0|   125|          1.0| 11.0|    14|            2|       30|                   25|                1.0|             1.0|
|      Almond_Delight|Ralston Purina|   C|     110|          2|  2|   200|          1.0| 14.0|     8|            3|       -1|                   25|                1.0|            0.75|
|        Golden_Crisp|          Post|   C|     100|          2|  0|    45|          0.0| 11.0|    15|            1|       40|                   25|                1.0|            0.88|
+--------------------+--------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
only showing top 20 rows

In [ ]:
df.orderBy('calories').show(50)

+--------------------+--------------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|         Cereal Name|        Manufacturer|Type|Calories|Protein (g)|Fat|Sodium|Dietary Fiber|Carbs|Sugars|Display Shelf|Potassium|Vitamins and Minerals|Serving Size Weight|Cups per Serving|
+--------------------+--------------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|All-Bran_with_Ext...|            Kelloggs|   C|      50|          4|  0|   140|         14.0|  8.0|     0|            3|      330|                   25|                1.0|             0.5|
|         Puffed_Rice|         Quaker Oats|   C|      50|          1|  0|     0|          0.0| 13.0|     0|            3|       15|                    0|                0.5|             1.0|
|        Puffed_Wheat|         Quaker Oats|   C|      50|          2|  0|     0|          1.0| 10.0|     0|            3|       50|                    0|                0.5|            -1.0|
|           100%_Bran|             Nabisco|   C|      70|          4|  1|   130|         10.0|  5.0|     6|            3|      280|                   25|                1.0|            0.33|
|            All-Bran|            Kelloggs|   C|      70|          4|  1|   260|          9.0|  7.0|     5|            3|      320|                   25|                1.0|            0.33|
|      Shredded_Wheat|             Nabisco|   C|      80|          2|  0|     0|          3.0| 16.0|     0|            1|       95|                    0|               0.83|            -1.0|
|           Bran_Chex|      Ralston Purina|   C|      90|          2|  1|   200|          4.0| 15.0|     6|            1|      125|                   25|                1.0|            0.67|
|         Bran_Flakes|                Post|   C|      90|          3|  0|   210|          5.0| 13.0|     5|            3|      190|                   25|                1.0|            0.67|
|   Nutri-grain_Wheat|            Kelloggs|   C|      90|          3|  0|   170|          3.0| 18.0|     2|            3|       90|                   25|                1.0|            -1.0|
|      Raisin_Squares|            Kelloggs|   C|      90|          2|  0|     0|          2.0| 15.0|     6|            3|      110|                   25|                1.0|             0.5|
|Shredded_Wheat_'n...|             Nabisco|   C|      90|          3|  0|     0|          4.0| 19.0|     0|            1|      140|                    0|                1.0|            0.67|
|Shredded_Wheat_sp...|             Nabisco|   C|      90|          3|  0|     0|          3.0| 20.0|     0|            1|      120|                    0|                1.0|            0.67|
|Strawberry_Fruit_...|             Nabisco|   C|      90|          2|  0|    15|          3.0| 15.0|     5|            2|       90|                   25|                1.0|            -1.0|
|         Corn_Flakes|            Kelloggs|   C|     100|          2|  0|   290|          1.0| 21.0|     2|            1|       35|                   25|                1.0|             1.0|
|Cream_of_Wheat_(Q...|             Nabisco|   H|     100|          3|  0|    80|          1.0| 21.0|     0|            2|       -1|                    0|                1.0|             1.0|
|Crispy_Wheat_&_Ra...|       General Mills|   C|     100|          2|  1|   140|          2.0| 11.0|    10|            3|      120|                   25|                1.0|            0.75|
|         Double_Chex|      Ralston Purina|   C|     100|          2|  0|   190|          1.0| 18.0|     5|            3|       80|                   25|                1.0|            0.75|
| Frosted_Mini-Wheats|            Kelloggs|   C|     100|          3|  0|     0|          3.0| 14.0|     7|            2|      100|                   25|                1.0|             0.8|
|        Golden_Crisp|                Post|   C|     100|          2|  0|    45|          0.0| 11.0|    15|            1|       40|                   25|                1.0|            0.88|
|   Grape_Nuts_Flakes|                Post|   C|     100|          3|  1|   140|          3.0| 15.0|     5|            3|       85|                   25|                1.0|            0.88|
|                Life|         Quaker Oats|   C|     100|          4|  2|   150|          2.0| 12.0|     6|            2|       95|                   25|                1.0|            0.67|
|               Maypo|American Home Foo...|   H|     100|          4|  1|     0|          0.0| 16.0|     3|            2|       95|                   25|                1.0|            -1.0|
|Multi-Grain_Cheerios|       General Mills|   C|     100|          2|  1|   220|          2.0| 15.0|     6|            1|       90|                   25|                1.0|             1.0|
|          Product_19|            Kelloggs|   C|     100|          3|  0|   320|          1.0| 20.0|     3|            3|       45|                  100|                1.0|             1.0|
|  Quaker_Oat_Squares|         Quaker Oats|   C|     100|          4|  1|   135|          2.0| 14.0|     6|            3|      110|                   25|                1.0|             0.5|
|      Quaker_Oatmeal|         Quaker Oats|   H|     100|          5|  2|     0|          2.7| -1.0|    -1|            1|      110|                    0|                1.0|            0.67|
|     Raisin_Nut_Bran|       General Mills|   C|     100|          3|  2|   140|          2.5| 10.5|     8|            3|      140|                   25|                1.0|             0.5|
|   Total_Whole_Grain|       General Mills|   C|     100|          3|  1|   200|          3.0| 16.0|     3|            3|      110|                  100|                1.0|             1.0|
|          Wheat_Chex|      Ralston Purina|   C|     100|          3|  1|   230|          3.0| 17.0|     3|            1|      115|                   25|                1.0|            0.67|
|            Wheaties|       General Mills|   C|     100|          3|  1|   200|          3.0| 17.0|     3|            1|      110|                   25|                1.0|             1.0|
|      Almond_Delight|      Ralston Purina|   C|     110|          2|  2|   200|          1.0| 14.0|     8|            3|       -1|                   25|                1.0|            0.75|
|Apple_Cinnamon_Ch...|       General Mills|   C|     110|          2|  2|   180|          1.5| 10.5|    10|            1|       70|                   25|                1.0|            0.75|
|         Apple_Jacks|            Kelloggs|   C|     110|          2|  0|   125|          1.0| 11.0|    14|            2|       30|                   25|                1.0|             1.0|
|            Cheerios|       General Mills|   C|     110|          6|  2|   290|          2.0| 17.0|     1|            1|      105|                   25|                1.0|            1.25|
|            Clusters|       General Mills|   C|     110|          3|  2|   140|          2.0| 13.0|     7|            3|      105|                   25|                1.0|             0.5|
|         Cocoa_Puffs|       General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       55|                   25|                1.0|             1.0|
|           Corn_Chex|      Ralston Purina|   C|     110|          2|  0|   280|          0.0| 22.0|     3|            1|       25|                   25|                1.0|             1.0|
|           Corn_Pops|            Kelloggs|   C|     110|          1|  0|    90|          1.0| 13.0|    12|            2|       20|                   25|                1.0|             1.0|
|       Count_Chocula|       General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       65|                   25|                1.0|             1.0|
|  Cracklin'_Oat_Bran|            Kelloggs|   C|     110|          3|  3|   140|          4.0| 10.0|     7|            3|      160|                   25|                1.0|             0.5|
|             Crispix|            Kelloggs|   C|     110|          2|  0|   220|          1.0| 21.0|     3|            3|       30|                   25|                1.0|             1.0|
|         Froot_Loops|            Kelloggs|   C|     110|          2|  1|   125|          1.0| 11.0|    13|            2|       30|                   25|                1.0|             1.0|
|      Frosted_Flakes|            Kelloggs|   C|     110|          1|  0|   200|          1.0| 14.0|    11|            1|       25|                   25|                1.0|            0.75|
|      Fruity_Pebbles|                Post|   C|     110|          1|  1|   135|          0.0| 13.0|    12|            2|       25|                   25|                1.0|            0.75|
|      Golden_Grahams|       General Mills|   C|     110|          1|  1|   280|          0.0| 15.0|     9|            2|       45|                   25|                1.0|            0.75|
|          Grape-Nuts|                Post|   C|     110|          3|  0|   170|          3.0| 17.0|     3|            3|       90|                   25|                1.0|            0.25|
|  Honey_Nut_Cheerios|       General Mills|   C|     110|          3|  1|   250|          1.5| 11.5|    10|            1|       90|                   25|                1.0|            0.75|
|          Honey-comb|                Post|   C|     110|          1|  0|   180|          0.0| 14.0|    11|            1|       35|                   25|                1.0|            1.33|
|Just_Right_Crunch...|            Kelloggs|   C|     110|          2|  1|   170|          1.0| 17.0|     6|            3|       60|                  100|                1.0|            -1.0|
|                 Kix|       General Mills|   C|     110|          2|  1|   260|          0.0| 21.0|     3|            2|       40|                   25|                1.0|             1.5|
+--------------------+--------------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
only showing top 50 rows

# Case When

In [ ]:
from pyspark.sql.functions import when

In [ ]:
df.select("Cereal Name", df['Vitamins and Minerals'], when(df['Vitamins and Minerals'] >= "25", "rich in vitamins")).show(50)

+--------------------+---------------------+-----------------------------------------------------------------+
|         Cereal Name|Vitamins and Minerals|CASE WHEN (Vitamins and Minerals >= 25) THEN rich in vitamins END|
+--------------------+---------------------+-----------------------------------------------------------------+
|           100%_Bran|                   25|                                                 rich in vitamins|
|   100%_Natural_Bran|                    0|                                                             NULL|
|            All-Bran|                   25|                                                 rich in vitamins|
|All-Bran_with_Ext...|                   25|                                                 rich in vitamins|
|      Almond_Delight|                   25|                                                 rich in vitamins|
|Apple_Cinnamon_Ch...|                   25|                                                 rich in vitamins|
|         Apple_Jacks|                   25|                                                 rich in vitamins|
|             Basic_4|                   25|                                                 rich in vitamins|
|           Bran_Chex|                   25|                                                 rich in vitamins|
|         Bran_Flakes|                   25|                                                 rich in vitamins|
|        Cap'n'Crunch|                   25|                                                 rich in vitamins|
|            Cheerios|                   25|                                                 rich in vitamins|
|Cinnamon_Toast_Cr...|                   25|                                                 rich in vitamins|
|            Clusters|                   25|                                                 rich in vitamins|
|         Cocoa_Puffs|                   25|                                                 rich in vitamins|
|           Corn_Chex|                   25|                                                 rich in vitamins|
|         Corn_Flakes|                   25|                                                 rich in vitamins|
|           Corn_Pops|                   25|                                                 rich in vitamins|
|       Count_Chocula|                   25|                                                 rich in vitamins|
|  Cracklin'_Oat_Bran|                   25|                                                 rich in vitamins|
|Cream_of_Wheat_(Q...|                    0|                                                             NULL|
|             Crispix|                   25|                                                 rich in vitamins|
|Crispy_Wheat_&_Ra...|                   25|                                                 rich in vitamins|
|         Double_Chex|                   25|                                                 rich in vitamins|
|         Froot_Loops|                   25|                                                 rich in vitamins|
|      Frosted_Flakes|                   25|                                                 rich in vitamins|
| Frosted_Mini-Wheats|                   25|                                                 rich in vitamins|
|       Fruitful_Bran|                   25|                                                 rich in vitamins|
|      Fruity_Pebbles|                   25|                                                 rich in vitamins|
|        Golden_Crisp|                   25|                                                 rich in vitamins|
|      Golden_Grahams|                   25|                                                 rich in vitamins|
|   Grape_Nuts_Flakes|                   25|                                                 rich in vitamins|
|          Grape-Nuts|                   25|                                                 rich in vitamins|
|  Great_Grains_Pecan|                   25|                                                 rich in vitamins|
|    Honey_Graham_Ohs|                   25|                                                 rich in vitamins|
|  Honey_Nut_Cheerios|                   25|                                                 rich in vitamins|
|          Honey-comb|                   25|                                                 rich in vitamins|
|Just_Right_Crunch...|                  100|                                                 rich in vitamins|
|Just_Right_Fruit_...|                  100|                                                 rich in vitamins|
|                 Kix|                   25|                                                 rich in vitamins|
|                Life|                   25|                                                 rich in vitamins|
|        Lucky_Charms|                   25|                                                 rich in vitamins|
|               Maypo|                   25|                                                 rich in vitamins|
|Mueslix_Crispy_Blend|                   25|                                                 rich in vitamins|
|Multi-Grain_Cheerios|                   25|                                                 rich in vitamins|
|    Nut&Honey_Crunch|                   25|                                                 rich in vitamins|
|Nutri-Grain_Almon...|                   25|                                                 rich in vitamins|
|   Nutri-grain_Wheat|                   25|                                                 rich in vitamins|
|Oatmeal_Raisin_Crisp|                   25|                                                 rich in vitamins|
|Post_Nat._Raisin_...|                   25|                                                 rich in vitamins|
+--------------------+---------------------+-----------------------------------------------------------------+
only showing top 50 rows

#filter()

In [ ]:
df.filter(df.Calories >= "100").show(50)

+--------------------+--------------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|         Cereal Name|        Manufacturer|Type|Calories|Protein (g)|Fat|Sodium|Dietary Fiber|Carbs|Sugars|Display Shelf|Potassium|Vitamins and Minerals|Serving Size Weight|Cups per Serving|
+--------------------+--------------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|   100%_Natural_Bran|         Quaker Oats|   C|     120|          3|  5|    15|          2.0|  8.0|     8|            3|      135|                    0|                1.0|            -1.0|
|      Almond_Delight|      Ralston Purina|   C|     110|          2|  2|   200|          1.0| 14.0|     8|            3|       -1|                   25|                1.0|            0.75|
|Apple_Cinnamon_Ch...|       General Mills|   C|     110|          2|  2|   180|          1.5| 10.5|    10|            1|       70|                   25|                1.0|            0.75|
|         Apple_Jacks|            Kelloggs|   C|     110|          2|  0|   125|          1.0| 11.0|    14|            2|       30|                   25|                1.0|             1.0|
|             Basic_4|       General Mills|   C|     130|          3|  2|   210|          2.0| 18.0|     8|            3|      100|                   25|               1.33|            0.75|
|        Cap'n'Crunch|         Quaker Oats|   C|     120|          1|  2|   220|          0.0| 12.0|    12|            2|       35|                   25|                1.0|            0.75|
|            Cheerios|       General Mills|   C|     110|          6|  2|   290|          2.0| 17.0|     1|            1|      105|                   25|                1.0|            1.25|
|Cinnamon_Toast_Cr...|       General Mills|   C|     120|          1|  3|   210|          0.0| 13.0|     9|            2|       45|                   25|                1.0|            0.75|
|            Clusters|       General Mills|   C|     110|          3|  2|   140|          2.0| 13.0|     7|            3|      105|                   25|                1.0|             0.5|
|         Cocoa_Puffs|       General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       55|                   25|                1.0|             1.0|
|           Corn_Chex|      Ralston Purina|   C|     110|          2|  0|   280|          0.0| 22.0|     3|            1|       25|                   25|                1.0|             1.0|
|         Corn_Flakes|            Kelloggs|   C|     100|          2|  0|   290|          1.0| 21.0|     2|            1|       35|                   25|                1.0|             1.0|
|           Corn_Pops|            Kelloggs|   C|     110|          1|  0|    90|          1.0| 13.0|    12|            2|       20|                   25|                1.0|             1.0|
|       Count_Chocula|       General Mills|   C|     110|          1|  1|   180|          0.0| 12.0|    13|            2|       65|                   25|                1.0|             1.0|
|  Cracklin'_Oat_Bran|            Kelloggs|   C|     110|          3|  3|   140|          4.0| 10.0|     7|            3|      160|                   25|                1.0|             0.5|
|Cream_of_Wheat_(Q...|             Nabisco|   H|     100|          3|  0|    80|          1.0| 21.0|     0|            2|       -1|                    0|                1.0|             1.0|
|             Crispix|            Kelloggs|   C|     110|          2|  0|   220|          1.0| 21.0|     3|            3|       30|                   25|                1.0|             1.0|
|Crispy_Wheat_&_Ra...|       General Mills|   C|     100|          2|  1|   140|          2.0| 11.0|    10|            3|      120|                   25|                1.0|            0.75|
|         Double_Chex|      Ralston Purina|   C|     100|          2|  0|   190|          1.0| 18.0|     5|            3|       80|                   25|                1.0|            0.75|
|         Froot_Loops|            Kelloggs|   C|     110|          2|  1|   125|          1.0| 11.0|    13|            2|       30|                   25|                1.0|             1.0|
|      Frosted_Flakes|            Kelloggs|   C|     110|          1|  0|   200|          1.0| 14.0|    11|            1|       25|                   25|                1.0|            0.75|
| Frosted_Mini-Wheats|            Kelloggs|   C|     100|          3|  0|     0|          3.0| 14.0|     7|            2|      100|                   25|                1.0|             0.8|
|       Fruitful_Bran|            Kelloggs|   C|     120|          3|  0|   240|          5.0| 14.0|    12|            3|      190|                   25|               1.33|            0.67|
|      Fruity_Pebbles|                Post|   C|     110|          1|  1|   135|          0.0| 13.0|    12|            2|       25|                   25|                1.0|            0.75|
|        Golden_Crisp|                Post|   C|     100|          2|  0|    45|          0.0| 11.0|    15|            1|       40|                   25|                1.0|            0.88|
|      Golden_Grahams|       General Mills|   C|     110|          1|  1|   280|          0.0| 15.0|     9|            2|       45|                   25|                1.0|            0.75|
|   Grape_Nuts_Flakes|                Post|   C|     100|          3|  1|   140|          3.0| 15.0|     5|            3|       85|                   25|                1.0|            0.88|
|          Grape-Nuts|                Post|   C|     110|          3|  0|   170|          3.0| 17.0|     3|            3|       90|                   25|                1.0|            0.25|
|  Great_Grains_Pecan|                Post|   C|     120|          3|  3|    75|          3.0| 13.0|     4|            3|      100|                   25|                1.0|            0.33|
|    Honey_Graham_Ohs|         Quaker Oats|   C|     120|          1|  2|   220|          1.0| 12.0|    11|            2|       45|                   25|                1.0|             1.0|
|  Honey_Nut_Cheerios|       General Mills|   C|     110|          3|  1|   250|          1.5| 11.5|    10|            1|       90|                   25|                1.0|            0.75|
|          Honey-comb|                Post|   C|     110|          1|  0|   180|          0.0| 14.0|    11|            1|       35|                   25|                1.0|            1.33|
|Just_Right_Crunch...|            Kelloggs|   C|     110|          2|  1|   170|          1.0| 17.0|     6|            3|       60|                  100|                1.0|            -1.0|
|Just_Right_Fruit_...|            Kelloggs|   C|     140|          3|  1|   170|          2.0| 20.0|     9|            3|       95|                  100|                1.3|            0.75|
|                 Kix|       General Mills|   C|     110|          2|  1|   260|          0.0| 21.0|     3|            2|       40|                   25|                1.0|             1.5|
|                Life|         Quaker Oats|   C|     100|          4|  2|   150|          2.0| 12.0|     6|            2|       95|                   25|                1.0|            0.67|
|        Lucky_Charms|       General Mills|   C|     110|          2|  1|   180|          0.0| 12.0|    12|            2|       55|                   25|                1.0|             1.0|
|               Maypo|American Home Foo...|   H|     100|          4|  1|     0|          0.0| 16.0|     3|            2|       95|                   25|                1.0|            -1.0|
|Mueslix_Crispy_Blend|            Kelloggs|   C|     160|          3|  2|   150|          3.0| 17.0|    13|            3|      160|                   25|                1.5|            0.67|
|Multi-Grain_Cheerios|       General Mills|   C|     100|          2|  1|   220|          2.0| 15.0|     6|            1|       90|                   25|                1.0|             1.0|
|    Nut&Honey_Crunch|            Kelloggs|   C|     120|          2|  1|   190|          0.0| 15.0|     9|            2|       40|                   25|                1.0|            0.67|
|Nutri-Grain_Almon...|            Kelloggs|   C|     140|          3|  2|   220|          3.0| 21.0|     7|            3|      130|                   25|               1.33|            0.67|
|Oatmeal_Raisin_Crisp|       General Mills|   C|     130|          3|  2|   170|          1.5| 13.5|    10|            3|      120|                   25|               1.25|             0.5|
|Post_Nat._Raisin_...|                Post|   C|     120|          3|  1|   200|          6.0| 11.0|    14|            3|      260|                   25|               1.33|            0.67|
|          Product_19|            Kelloggs|   C|     100|          3|  0|   320|          1.0| 20.0|     3|            3|       45|                  100|                1.0|             1.0|
|  Quaker_Oat_Squares|         Quaker Oats|   C|     100|          4|  1|   135|          2.0| 14.0|     6|            3|      110|                   25|                1.0|             0.5|
|      Quaker_Oatmeal|         Quaker Oats|   H|     100|          5|  2|     0|          2.7| -1.0|    -1|            1|      110|                    0|                1.0|            0.67|
|         Raisin_Bran|            Kelloggs|   C|     120|          3|  1|   210|          5.0| 14.0|    12|            2|      240|                   25|               1.33|            0.75|
|     Raisin_Nut_Bran|       General Mills|   C|     100|          3|  2|   140|          2.5| 10.5|     8|            3|      140|                   25|                1.0|             0.5|
|           Rice_Chex|      Ralston Purina|   C|     110|          1|  0|   240|          0.0| 23.0|     2|            1|       30|                   25|                1.0|            1.13|
+--------------------+--------------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
only showing top 50 rows

#isnull() / isnotnull()

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df.filter(df['Cereal Name'].isNull()).show()

+-----------+------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|Cereal Name|Manufacturer|Type|Calories|Protein (g)|Fat|Sodium|Dietary Fiber|Carbs|Sugars|Display Shelf|Potassium|Vitamins and Minerals|Serving Size Weight|Cups per Serving|
+-----------+------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
+-----------+------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+

### Select distinct no SparkSQL

In [ ]:
df.describe()

DataFrame[summary: string, Cereal Name: string, Manufacturer: string, Type: string, Calories: string, Protein (g): string, Fat: string, Sodium: string, Dietary Fiber: string, Carbs: string, Sugars: string, Display Shelf: string, Potassium: string, Vitamins and Minerals: string, Serving Size Weight: string, Cups per Serving: string]

In [ ]:
df.printSchema()

root
 |-- Cereal Name: string (nullable = true)
 |-- Manufacturer: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Calories: integer (nullable = true)
 |-- Protein (g): integer (nullable = true)
 |-- Fat: integer (nullable = true)
 |-- Sodium: integer (nullable = true)
 |-- Dietary Fiber: double (nullable = true)
 |-- Carbs: double (nullable = true)
 |-- Sugars: integer (nullable = true)
 |-- Display Shelf: integer (nullable = true)
 |-- Potassium: integer (nullable = true)
 |-- Vitamins and Minerals: integer (nullable = true)
 |-- Serving Size Weight: double (nullable = true)
 |-- Cups per Serving: double (nullable = true)

In [ ]:
df.createOrReplaceTempView("cereal")

In [ ]:
cereal = spark.sql(''' SELECT DISTINCT `Cereal Name`, Type, Manufacturer from cereal ''')
cereal.show()

+--------------------+----+--------------+
|         Cereal Name|Type|  Manufacturer|
+--------------------+----+--------------+
|         Double_Chex|   C|Ralston Purina|
|      Quaker_Oatmeal|   H|   Quaker Oats|
|      Shredded_Wheat|   C|       Nabisco|
|Crispy_Wheat_&_Ra...|   C| General Mills|
|Multi-Grain_Cheerios|   C| General Mills|
|      Almond_Delight|   C|Ralston Purina|
|            All-Bran|   C|      Kelloggs|
|          Honey-comb|   C|          Post|
|Strawberry_Fruit_...|   C|       Nabisco|
|             Basic_4|   C| General Mills|
|   Total_Whole_Grain|   C| General Mills|
|                Trix|   C| General Mills|
|            Cheerios|   C| General Mills|
|         Raisin_Bran|   C|      Kelloggs|
|         Corn_Flakes|   C|      Kelloggs|
|Nutri-Grain_Almon...|   C|      Kelloggs|
|All-Bran_with_Ext...|   C|      Kelloggs|
|          Wheat_Chex|   C|Ralston Purina|
|     Raisin_Nut_Bran|   C| General Mills|
|              Smacks|   C|      Kelloggs|
+--------------------+----+--------------+
only showing top 20 rows

#WHERE no Spark SQL

In [ ]:
cereal = spark.sql(''' SELECT * from cereal WHERE Manufacturer = 'Kelloggs' AND Calories = 100 ''')
cereal.show()

+-------------------+------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|        Cereal Name|Manufacturer|Type|Calories|Protein (g)|Fat|Sodium|Dietary Fiber|Carbs|Sugars|Display Shelf|Potassium|Vitamins and Minerals|Serving Size Weight|Cups per Serving|
+-------------------+------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+
|        Corn_Flakes|    Kelloggs|   C|     100|          2|  0|   290|          1.0| 21.0|     2|            1|       35|                   25|                1.0|             1.0|
|Frosted_Mini-Wheats|    Kelloggs|   C|     100|          3|  0|     0|          3.0| 14.0|     7|            2|      100|                   25|                1.0|             0.8|
|         Product_19|    Kelloggs|   C|     100|          3|  0|   320|          1.0| 20.0|     3|            3|       45|                  100|                1.0|             1.0|
+-------------------+------------+----+--------+-----------+---+------+-------------+-----+------+-------------+---------+---------------------+-------------------+----------------+

#GROUP BY

In [ ]:
cereal = spark.sql(''' SELECT Manufacturer, Type, COUNT(*) AS total, SUM(Calories) AS total_calories \
                          FROM cereal \
                          GROUP BY Manufacturer, Type ''')
cereal.show()

+--------------------+----+-----+--------------+
|        Manufacturer|Type|total|total_calories|
+--------------------+----+-----+--------------+
|            Kelloggs|   C|   23|          2500|
|         Quaker Oats|   C|    7|           660|
|American Home Foo...|   H|    1|           100|
|             Nabisco|   H|    1|           100|
|             Nabisco|   C|    5|           420|
|       General Mills|   C|   22|          2450|
|      Ralston Purina|   C|    6|           620|
|         Quaker Oats|   H|    1|           100|
|                Post|   C|    8|           860|
+--------------------+----+-----+--------------+

#CASE WHEN

In [ ]:
cereal = spark.sql(''' SELECT Manufacturer, \
                          (CASE
                            WHEN Type = 'C' THEN 'A'
                            WHEN Type = 'H' THEN 'B'
                            ELSE 'Ca' END) AS type_new \
                          , COUNT(*) AS total, SUM(Calories) AS total_calories \
                          FROM cereal \
                          GROUP BY Manufacturer, Type ''')
cereal.show()

+--------------------+--------+-----+--------------+
|        Manufacturer|type_new|total|total_calories|
+--------------------+--------+-----+--------------+
|            Kelloggs|       A|   23|          2500|
|         Quaker Oats|       A|    7|           660|
|American Home Foo...|       B|    1|           100|
|             Nabisco|       B|    1|           100|
|             Nabisco|       A|    5|           420|
|       General Mills|       A|   22|          2450|
|      Ralston Purina|       A|    6|           620|
|         Quaker Oats|       B|    1|           100|
|                Post|       A|    8|           860|
+--------------------+--------+-----+--------------+

#Consultas Avançadas em SQL usando PySPark

In [44]:
cereal = spark.sql('''
  SELECT
      Manufacturer,
      Type,
      SUM(Calories) AS sum_calories,
      MIN(Calories) AS min_calories,
      MAX(Calories) AS max_calories,
      COUNT(DISTINCT `Cereal Name`) AS count_distinct_names,
      COUNT(`Cereal Name`) AS count_names
  FROM cereal
  GROUP BY Manufacturer, Type
  ORDER BY Manufacturer
''')

cereal.show()

+--------------------+----+------------+------------+------------+--------------------+-----------+
|        Manufacturer|Type|sum_calories|min_calories|max_calories|count_distinct_names|count_names|
+--------------------+----+------------+------------+------------+--------------------+-----------+
|American Home Foo...|   H|         100|         100|         100|                   1|          1|
|       General Mills|   C|        2450|         100|         140|                  22|         22|
|            Kelloggs|   C|        2500|          50|         160|                  23|         23|
|             Nabisco|   H|         100|         100|         100|                   1|          1|
|             Nabisco|   C|         420|          70|          90|                   5|          5|
|                Post|   C|         860|          90|         120|                   8|          8|
|         Quaker Oats|   C|         660|          50|         120|                   7|          7|
|         Quaker Oats|   H|         100|         100|         100|                   1|          1|
|      Ralston Purina|   C|         620|          90|         110|                   6|          6|
+--------------------+----+------------+------------+------------+--------------------+-----------+

In [48]:
cereal = spark.sql('''
  SELECT
      Manufacturer,
      Type,
      SUM(Calories) AS sum_calories,
      MIN(Calories) AS min_calories,
      MAX(Calories) AS max_calories,
      CAST(AVG(Calories) AS DECIMAL(10,2)) AS avg_calories,

      SUM(Carbs) AS sum_carbs,
      MIN(Carbs) AS min_carbs,
      MAX(Carbs) AS max_carbs,
      CAST(AVG(Carbs) AS DECIMAL(10,2)) AS avg_carbs,

      SUM(`Vitamins and Minerals`) AS sum_vitamins,
      MIN(`Vitamins and Minerals`) AS min_vitamins,
      MAX(`Vitamins and Minerals`) AS max_vitamins,
      CAST(AVG(`Vitamins and Minerals`) AS DECIMAL(10,2)) AS avg_vitamins,


      COUNT(DISTINCT `Cereal Name`) AS count_distinct_names,
      COUNT(`Cereal Name`) AS count_names
  FROM cereal
  GROUP BY Manufacturer, Type
  ORDER BY Manufacturer
''')

cereal.show(truncate=False)

+---------------------------+----+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|Manufacturer               |Type|sum_calories|min_calories|max_calories|avg_calories|sum_carbs|min_carbs|max_carbs|avg_carbs|sum_vitamins|min_vitamins|max_vitamins|avg_vitamins|count_distinct_names|count_names|
+---------------------------+----+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|American Home Food Products|H   |100         |100         |100         |100.00      |16.0     |16.0     |16.0     |16.00    |25          |25          |25          |25.00       |1                   |1          |
|General Mills              |C   |2450        |100         |140         |111.36      |324.0    |10.5     |21.0     |14.73    |775         |25          |100         |35.23       |22                  |22         |
|Kelloggs                   |C   |2500        |50          |160         |108.70      |348.0    |7.0      |22.0     |15.13    |800         |25          |100         |34.78       |23                  |23         |
|Nabisco                    |H   |100         |100         |100         |100.00      |21.0     |21.0     |21.0     |21.00    |0           |0           |0           |0.00        |1                   |1          |
|Nabisco                    |C   |420         |70          |90          |84.00       |75.0     |5.0      |20.0     |15.00    |50          |0           |25          |10.00       |5                   |5          |
|Post                       |C   |860         |90          |120         |107.50      |107.0    |11.0     |17.0     |13.38    |200         |25          |25          |25.00       |8                   |8          |
|Quaker Oats                |C   |660         |50          |120         |94.29       |81.0     |8.0      |14.0     |11.57    |100         |0           |25          |14.29       |7                   |7          |
|Quaker Oats                |H   |100         |100         |100         |100.00      |-1.0     |-1.0     |-1.0     |-1.00    |0           |0           |0           |0.00        |1                   |1          |
|Ralston Purina             |C   |620         |90          |110         |103.33      |109.0    |14.0     |23.0     |18.17    |150         |25          |25          |25.00       |6                   |6          |
+---------------------------+----+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+

In [50]:
cereal = spark.sql('''
  SELECT
      Manufacturer,
      Type,
      (CASE
        WHEN Manufacturer = 'American Home Food Products' THEN 'Abacaxi'
        WHEN Manufacturer = 'General Mills' THEN 'Tomate'
        WHEN Manufacturer = 'Kelloggs' THEN 'Goiaba'
        WHEN Manufacturer = 'Nabisco' THEN 'Laranja'
        WHEN Manufacturer = 'Post' THEN 'Pera'
        WHEN Manufacturer = 'Quaker Oats' THEN 'Uva'
        WHEN Manufacturer = 'Ralston Purina' THEN 'Maca'
        ELSE 'N/A'
        END
      ) AS type_fruit,
      SUM(Calories) AS sum_calories,
      MIN(Calories) AS min_calories,
      MAX(Calories) AS max_calories,
      CAST(AVG(Calories) AS DECIMAL(10,2)) AS avg_calories,

      SUM(Carbs) AS sum_carbs,
      MIN(Carbs) AS min_carbs,
      MAX(Carbs) AS max_carbs,
      CAST(AVG(Carbs) AS DECIMAL(10,2)) AS avg_carbs,

      SUM(`Vitamins and Minerals`) AS sum_vitamins,
      MIN(`Vitamins and Minerals`) AS min_vitamins,
      MAX(`Vitamins and Minerals`) AS max_vitamins,
      CAST(AVG(`Vitamins and Minerals`) AS DECIMAL(10,2)) AS avg_vitamins,


      COUNT(DISTINCT `Cereal Name`) AS count_distinct_names,
      COUNT(`Cereal Name`) AS count_names
  FROM cereal
  GROUP BY Manufacturer, Type
  ORDER BY Manufacturer
''')

cereal.show(truncate=False)

+---------------------------+----+----------+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|Manufacturer               |Type|type_fruit|sum_calories|min_calories|max_calories|avg_calories|sum_carbs|min_carbs|max_carbs|avg_carbs|sum_vitamins|min_vitamins|max_vitamins|avg_vitamins|count_distinct_names|count_names|
+---------------------------+----+----------+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+
|American Home Food Products|H   |Abacaxi   |100         |100         |100         |100.00      |16.0     |16.0     |16.0     |16.00    |25          |25          |25          |25.00       |1                   |1          |
|General Mills              |C   |Tomate    |2450        |100         |140         |111.36      |324.0    |10.5     |21.0     |14.73    |775         |25          |100         |35.23       |22                  |22         |
|Kelloggs                   |C   |Goiaba    |2500        |50          |160         |108.70      |348.0    |7.0      |22.0     |15.13    |800         |25          |100         |34.78       |23                  |23         |
|Nabisco                    |H   |Laranja   |100         |100         |100         |100.00      |21.0     |21.0     |21.0     |21.00    |0           |0           |0           |0.00        |1                   |1          |
|Nabisco                    |C   |Laranja   |420         |70          |90          |84.00       |75.0     |5.0      |20.0     |15.00    |50          |0           |25          |10.00       |5                   |5          |
|Post                       |C   |Pera      |860         |90          |120         |107.50      |107.0    |11.0     |17.0     |13.38    |200         |25          |25          |25.00       |8                   |8          |
|Quaker Oats                |C   |Uva       |660         |50          |120         |94.29       |81.0     |8.0      |14.0     |11.57    |100         |0           |25          |14.29       |7                   |7          |
|Quaker Oats                |H   |Uva       |100         |100         |100         |100.00      |-1.0     |-1.0     |-1.0     |-1.00    |0           |0           |0           |0.00        |1                   |1          |
|Ralston Purina             |C   |Maca      |620         |90          |110         |103.33      |109.0    |14.0     |23.0     |18.17    |150         |25          |25          |25.00       |6                   |6          |
+---------------------------+----+----------+------------+------------+------------+------------+---------+---------+---------+---------+------------+------------+------------+------------+--------------------+-----------+

#JOIN

#INNER

In [53]:
sales = spark.read.csv('sales_data_sample.csv', sep=',', inferSchema = True, header = True)

In [54]:
sales.show()

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|   STATE|POSTALCODE|  COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|      NY|     10022|      USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        NULL|        Reims|    NULL|     51100|   France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        NULL|        Paris|    NULL|     75508|   France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        NULL|     Pasadena|      CA|     90003|      USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        NULL|San Francisco|      CA|      NULL|      USA|       NA|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|        NULL|   Burlingame|      CA|     94217|      USA|       NA|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|        NULL|        Lille|    NULL|     59000|   France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|    100.0|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|        NULL|       Bergen|    NULL|    N 5804|   Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|        NULL|San Francisco|      CA|      NULL|      USA|       NA|         Murphy|           Julie|   Small|
|      10211|             41|    100.0|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|        NULL|        Paris|    NULL|     75016|   France|     EMEA|        Perrier|       Dominique|  Medium|
|      10223|             37|    100.0|              1|3965.66| 2/20/2004 0:00|Shipped|     1|       2|   2004|Motorcycles|  95|   S10_1678|Australian Collec...|    03 9520 4555|   636 St Kilda Road|     Level 3|    Melbourne|Victoria|      3004|Australia|     APAC|       Ferguson|           Peter|  Medium|
|      10237|             23|    100.0|              7|2333.12|  4/5/2004 0:00|Shipped|     2|       4|   2004|Motorcycles|  95|   S10_1678|     Vitachrome Inc.|      2125551500|   2678 Kingston Rd.|   Suite 101|          NYC|      NY|     10022|      USA|       NA|          Frick|         Michael|   Small|
|      10251|             28|    100.0|              2|3188.64| 5/18/2004 0:00|Shipped|     2|       5|   2004|Motorcycles|  95|   S10_1678|Tekni Collectable...|      2015559350|       7476 Moss Rd.|        NULL|       Newark|      NJ|     94019|      USA|       NA|          Brown|         William|  Medium|
|      10263|             34|    100.0|              2|3676.76| 6/28/2004 0:00|Shipped|     2|       6|   2004|Motorcycles|  95|   S10_1678|     Gift Depot Inc.|      2035552570| 25593 South Bay Ln.|        NULL|  Bridgewater|      CT|     97562|      USA|       NA|           King|           Julie|  Medium|
|      10275|             45|    92.83|              1|4177.35| 7/23/2004 0:00|Shipped|     3|       7|   2004|Motorcycles|  95|   S10_1678|   La Rochelle Gifts|      40.67.8555|67, rue des Cinqu...|        NULL|       Nantes|    NULL|     44000|   France|     EMEA|        Labrune|          Janine|  Medium|
|      10285|             36|    100.0|              6|4099.68| 8/27/2004 0:00|Shipped|     3|       8|   2004|Motorcycles|  95|   S10_1678|Marta's Replicas Co.|      6175558555| 39323 Spinnaker Dr.|        NULL|    Cambridge|      MA|     51247|      USA|       NA|      Hernandez|           Marta|  Medium|
|      10299|             23|    100.0|              9|2597.39| 9/30/2004 0:00|Shipped|     3|       9|   2004|Motorcycles|  95|   S10_1678|Toys of Finland, Co.|     90-224 8555|       Keskuskatu 45|        NULL|     Helsinki|    NULL|     21240|  Finland|     EMEA|      Karttunen|           Matti|   Small|
|      10309|             41|    100.0|              5|4394.38|10/15/2004 0:00|Shipped|     4|      10|   2004|Motorcycles|  95|   S10_1678|  Baane Mini Imports|      07-98 9555|Erling Skakkes ga...|        NULL|      Stavern|    NULL|      4110|   Norway|     EMEA|     Bergulfsen|           Jonas|  Medium|
|      10318|             46|    94.74|              1|4358.04| 11/2/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|Diecast Classics ...|      2155551555|    7586 Pompton St.|        NULL|    Allentown|      PA|     70267|      USA|       NA|             Yu|           Kyung|  Medium|
|      10329|             42|    100.0|              1|4396.14|11/15/2004 0:00|Shipped|     4|      11|   2004|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|      NY|     10022|      USA|       NA|             Yu|            Kwai|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+--------+----------+---------+---------+---------------+----------------+--------+
only showing top 20 rows

In [55]:
sales.createOrReplaceTempView('sales')

In [57]:
sales.printSchema()

root
 |-- ORDERNUMBER: integer (nullable = true)
 |-- QUANTITYORDERED: integer (nullable = true)
 |-- PRICEEACH: double (nullable = true)
 |-- ORDERLINENUMBER: integer (nullable = true)
 |-- SALES: double (nullable = true)
 |-- ORDERDATE: string (nullable = true)
 |-- STATUS: string (nullable = true)
 |-- QTR_ID: integer (nullable = true)
 |-- MONTH_ID: integer (nullable = true)
 |-- YEAR_ID: integer (nullable = true)
 |-- PRODUCTLINE: string (nullable = true)
 |-- MSRP: integer (nullable = true)
 |-- PRODUCTCODE: string (nullable = true)
 |-- CUSTOMERNAME: string (nullable = true)
 |-- PHONE: string (nullable = true)
 |-- ADDRESSLINE1: string (nullable = true)
 |-- ADDRESSLINE2: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- POSTALCODE: string (nullable = true)
 |-- COUNTRY: string (nullable = true)
 |-- TERRITORY: string (nullable = true)
 |-- CONTACTLASTNAME: string (nullable = true)
 |-- CONTACTFIRSTNAME: string (nullable = true)
 |-- DEALSIZE: string (nullable = true)

In [69]:
calendar = spark.sql('''
  SELECT DISTINCT
    orderdate,
    qtr_id, month_id, year_id
  FROM sales
  ORDER BY orderdate
''')

sales_data = spark.sql('''
  SELECT DISTINCT
    ordernumber,
    customername,
    sales,
    quantityordered,
    productcode
    orderlinenumber
  FROM sales
  ORDER BY ordernumber
''')

customer_name = spark.sql('''
  SELECT DISTINCT
    customername,
    phone,
    addressline1,
    addressline2,
    city,
    state,
    postalcode,
    country,
    territory
  FROM sales
  ORDER BY customername
''')

In [70]:
calendar.count()

252

In [71]:
sales_data.count()

2823

In [72]:
customer_name.count()

92

In [77]:
calendar.createOrReplaceTempView('calendar')
sales_data.createOrReplaceTempView('sales_data')
customer_name.createOrReplaceTempView('customer_name')

In [82]:
master = spark.sql('''
  SELECT DISTINCT
  s.ordernumber, c.city
  FROM sales_data s
  INNER JOIN customer_name c ON s.customername = c.customername
''')

master.show(truncate=False)

+-----------+-------------+
|ordernumber|city         |
+-----------+-------------+
|10300      |Frankfurt    |
|10385      |San Rafael   |
|10140      |Burlingame   |
|10182      |San Rafael   |
|10241      |Strasbourg   |
|10153      |Madrid       |
|10293      |Torino       |
|10161      |Aaarhus      |
|10406      |Kobenhavn    |
|10414      |Boston       |
|10311      |Madrid       |
|10195      |White Plains |
|10189      |Pasadena     |
|10357      |San Rafael   |
|10422      |Allentown    |
|10111      |San Francisco|
|10204      |NYC          |
|10304      |Versailles   |
|10151      |Oulu         |
|10369      |Brickhaven   |
+-----------+-------------+
only showing top 20 rows